/.vscode/
/.history/

/build/*
!/build/api/
/build/api/bashs/abfc/__pycache__/*
/build/api/bashs/atec/__pycache__/*
/build/api/bashs/incremental/__pycache__/*
/build/api/bashs/incremental/data/*
!/build/conf/
/build/libtorch.pri
!/build/db/
/build/db/datasets/*
/build/db/trainLogs/*
/build/db/models/*
!/build/lib/
/build/lib/TRANSFER/ToHrrp_mcr/*
/build/lib/guiLogic/tools/__pycache__/*

/.qt_for_python/*
/temp


/api/HRRP_vis
api/HRRP_vis

GUI_V2.0.pro.user.1ae1144
/GUI_V2.0.pro.user
GUI_V2.0.pro.user
