/.vscode/
/.history/
/db/datasets/*
/build/*
/.qt_for_python/*
/temp
GUI_V2.0.pro.user

#!/db/datasets/feature_extraction.py
#!/db/datasets/TRANSFER
/conf/datasetInfoCache.xml
/conf/modelInfoCache.xml

#!/db/models/model_here
#!/lib\algorithm\code_here
#!/lib\guiLogic\code_here
#!/api\api_here

conf/libtorch.pri

