/.vscode/
/.history/

/build/*
!/api/
/api/bashs/abfc/__pycache__/*
/api/bashs/atec/__pycache__/*
/api/bashs/incremental/__pycache__/*
/api/bashs/incremental/data/*
!/conf/
conf/libtorch.pri
!/db/
/db/datasets/*
/db/trainLogs/*
/db/models/*
!/lib/
/lib/TRANSFER/ToHrrp_mcr/*
/lib/guiLogic/tools/__pycache__/*

/.qt_for_python/*
/temp


/api/HRRP_vis
api/HRRP_vis

GUI_V2.0.pro.user.1ae1144
/GUI_V2.0.pro.user
GUI_V2.0.pro.user
